@font-face {
  font-family: "Cheltenham";
  src: url("Fonts/Cheltenham.ttf") format("truetype");
}

@font-face {
  font-family: "Chomsky";
  src: url("Fonts/Chomsky.otf") format("truetype");
}

h1{
  font-family: "Chomsky";
  font-size: 50px;
}

h2{
  font-family: "Cheltenham";
  font-size: 30;
}

p{
  font-family: "Cheltenham";
  font-size: 25px;
}

.headD {
  margin: 20px;
  border: 1px;
  text-align: center;
}


#cont {
  margin: 0 auto; 
  border-style: solid;
  border-width: 1px;
  width: 800px;
}

#article1 {
  justify-content: center;
  align-items: center; 
  border-style: solid;
  border-width: 3px;
  margin: 50px;
}

#article1 h2 {
  text-align: center;
}
#article1 p{
  margin-left: 20px;
  margin-right: 20px;
  line-height: 23px;
  word-wrap: break-word;
  text-indent: 2em;
}
