@font-face {
  font-family: "Cheltenham";
  src: url("Fonts/Cheltenham.ttf") format("truetype");
}

@font-face {
  font-family: "Chomsky";
  src: url("Fonts/Chomsky.otf") format("truetype");
}

h1{
  font-family: "Chomsky";
  font-size: 50px;
}

h2{
  font-family: "Cheltenham";
  font-size: 30;
}

p{
  font-family: "Cheltenham";
  font-size: 25px;
}

.headD {
  margin-left: 170px;
  border: 1px;
}


#cont {
  margin: 0 auto; 
  border-style: solid;
  border-width: 1px;
  width: 1000px;
}

#article1 {
  justify-content: center;
  align-items: center; 
  border-style: solid;
  border-width: 2px;
  margin: 50px;
  overflow: hidden;
}

#article1 h2 {
  text-align: center;
}

#article1 p{
  margin-left: 20px;
  margin-right: 20px;
  line-height: 23px;
  word-wrap: break-word;
  text-indent: 2em;
}

img {
  float: right;
  margin: 30px;
  width: 200px;
}

.impactB {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

.img1 {
  float: left;
  margin: 25px;
  width: 400px;
}