@font-face {
  font-family: "Cheltenham";
  src: url("Fonts/Cheltenham.ttf") format("truetype");
}

@font-face {
  font-family: "Chomsky";
  src: url("Fonts/Chomsky.otf") format("truetype");
}

h1{
  font-family: "Chomsky";
}

h2{
  font-family: "Cheltenham";
}

p{
  font-family: "Cheltenham";
}
